.button-loader {
    position: relative;
    min-height: 30px;
    min-width: 30px;
    max-height: 25px;
    max-width: 25px;
}
.button-loader:before , .button-loader:after{
    content: '';
    border-radius: 50%;
    position: absolute;
    inset: 0;
}
.button-loader:after {
    box-shadow: 0 2px 0 white inset;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {  transform: rotate(0)}
    100% { transform: rotate(360deg)}
}