.order-page{
    width: 100dvw;
    height: 90dvh;
    margin-top:10dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.order-page h2{
    margin-bottom: 2.5dvh;
}
.product-payment-form-wrapper{
    width: 90dvw;
    height: 75dvh;
    box-shadow: 0 0 5px black;
    border-radius: 15px;
    padding:20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.product-wrapper{
    padding:30px;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-image-wrapper{
    margin-bottom: 40px;
}
.product-details-wrapper{
    line-height: 2;
}
.payment-form{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.payment-form h3{
    font-size: 1.5em;
    text-align: center;
    margin: 10px 0;
}
.payment-info{
    width: 50%;
}
.card-number-input, .cvv-input{
    width: 90%;
    padding:10px;
    border-radius: 5px;
    border:1px solid var(--gray);
    margin:10px 5px;
    transition: all 150ms;
}
.cvv-input{
    width: 7%;
}
/* The 2 rules below remove the arrow icons from inputs with the type of number */
/* For Firefox */
.cvv-input[type=number]{
    -moz-appearance: textfield;
}
/* For Other Browsers */
.cvv-input::-webkit-outer-spin-button,
.cvv-input::-webkit-inner-spin-button{
    appearance: none;
    -webkit-appearance: none;
    margin:0;
}
.other-card-info{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.select-inputs{
    background: none;
    border:1px solid var(--gray);
    border-radius: 5px;
    padding:10px;
    cursor: pointer;
    margin:0 5px;
    transition: all 150ms;
}
.card-number-input:focus, .cvv-input:focus, .select-inputs:focus{
    outline:none;
    box-shadow: 0 0 5px var(--orange);
}
/* Billing */
.billing-info{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.billing-info-left, .billing-info-right{
    width: 45%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.billing-info-left{
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
}
.billing-info input{
    height: 50%;
    border:1px solid var(--gray);
    border-radius: 5px;
    padding:5px 10px;
    transition: all 150ms;
}
.billing-info input:focus{
    outline:none;
    box-shadow: 0 0 5px var(--orange);
}
.billing-info-right input{
    height: 17%;
    margin-bottom: 10px;
}
.submit-order-btn{
    font-size: 1.5em;
    background-color: var(--orange);
    border:none;
    border-radius: 8px;
    padding:10px 20px;
    color:white;
    cursor: pointer;
    transition: all 250ms;
}
.submit-order-btn:hover{
    opacity: .8;
}
/* Media Queries */
@media screen and (max-width:1283px) and (max-height:590px){
    .form-h2{
        display: none;
    }
    .product-payment-form-wrapper{
        height: 75dvh;
        margin-top: 5dvh;
    }
    .product-details-wrapper{
        line-height: 1.5;
    }
    .payment-form{
        height: 95%;
        width: 60%;
    }
    .submit-order-btn{
        font-size: 1.3em;
    }
}
/* iPad Pro 12.9 inch Landscape*/
@media screen and (max-width:1366px) and (max-height:1024px){
    .product-payment-form-wrapper{
        justify-content: space-between;
    }
    .product-wrapper{
        width: 25%;
    }
    .payment-form{
        width: 65%;
    }
    .billing-info-left{
        width: 60%;
    }
    .billing-info-right{
        width: 30%;
    }
}
/* iPad Pro 12.9 inch */
@media screen and (max-width:1024px) and (max-height:1366px){
    .product-payment-form-wrapper{
        flex-direction: column;
    }
    .product-wrapper{
        width: fit-content;
        flex-direction: row
    }
    .product-image-wrapper{
        margin-right: 50px;
    }
    .payment-form{
        width: 90%;
    }
    .submit-order-btn{
        font-size: 1.5em;
        padding:15px 40px;
    }
    .billing-info-left{
        width: 60%;
    }
    .billing-info-right{
        width: 30%;
    }
}
/* iPad iPadOS Landscape*/
@media screen and (max-width:1180px) and (max-height:820px){
    .cvv-input{
        width: 10%;
    }
}
/* iPad Air */
@media screen and (max-width:820px) and (max-height:1180px){
    .cvv-input{
        width: 10%;
    }
}
/* iPad Mini */
@media screen and (max-width:768px) and (max-height:1024px){
    .product-wrapper{
        height: 30%;
        padding:5px;
    }
    .cvv-input{
        width: 10%;
    }
}
/* iPhone 14 Pro Max */
@media screen and (max-width:430px) and (max-height:932px){
    .form-h2{
        display: none;
    }
    .product-payment-form-wrapper{
        height: 90dvh;
        border-radius: 0;
    }
    .product-wrapper{
        width: 95dvw;
    }
    .product-image-wrapper img{
        width: 150px;
        height: 150px;
    }
}