.product-page{
    width: 100dvw;
    height: 90dvh;
    margin-top: 10dvh;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-details{
    background-color: white;
    box-shadow: 0 0 5px black;
    width: 90%;
    height: 90%;
    border-radius: 8px;
    padding:20px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.images-sidebar{
    width: fit-content;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    padding:15px;
    border-radius: 8px;
}
.product-image-btns{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 8px;
    padding:8px;
    cursor: pointer;
    transition: all 300ms;
}
.product-image-btns:hover{
    background-color: var(--gray);
}
.active-product-image-btn{
    background-color: var(--gray);
}
.product-images-wrapper{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.large-image-wrapper{
    min-height: 100%;
    margin-left: 5dvw;
    background-color: var(--white);
    border-radius: 8px;
    padding:20px;
    cursor: pointer;
}
.large-image{
    width: 400px;
    height: 400px;
}
.product-info{
    width: 50%;
    height: 60%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.product-info p {
    margin:5px 0;
}
.current-product-price, .current-product-stock{
    font-size: 1.25em;
    padding:10px 0;
}
.amount-selector-input{
    font-size: 1em;
    border:none;
    border-bottom: 1px solid var(--gray);
    padding:5px;
    transition: all 300ms;
}
.amount-selector-input:focus{
    outline:none;
    border-bottom: 1px solid var(--orange);
}
.error{
    font-size: .9em;
    padding: 15px 0;
    color:red;
}
.current-product-btns-wrapper{
    display: flex;
}
.current-product-btns{
    font-size: 1.3em;
    cursor: pointer;
    background-color: var(--orange);
    color:white;
    border:none;
    border-radius: 8px;
    padding:10px 10px;
    margin:0 5px;
    display: flex;
    align-items: center;
    transition: all 300ms;
}
.current-product-icons{
    width: 20px;
    height: 20px;
    fill:white;
    margin:0 10px;
}
.current-product-btns:hover{
    background-color: var(--darkerOrange);
}
.current-product-btns:disabled{
    cursor: not-allowed;
    opacity: .7;
}
.current-product-btns:disabled:hover{
    background-color: var(--orange);
}
.fullscreen-image{
    position: absolute;
    width: 100dvw;
    height: 90dvh;
    top:10vh;
    background-color: white;
    display: none;
}
.active-fullscreen-image{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.switch-fullscreen-image-btns{
    background: none;
    border:none;
    cursor: pointer;
    padding:10px;
    border-radius: 6px;
    transition: all 300ms;
}
.switch-fullscreen-image-btns:hover{
    background-color: var(--gray);
}
.switch-fullscreen-image-btns svg{
    width: 50px;
    height: 50px;
}
.prev-img-btn svg{
    transform: rotate(180deg);
}
.close-fullscreen-image-btn{
    position: absolute;
    top:0;
    right:10px;
}
.current-product-alert{
    background-color: white;
    position: absolute;
    bottom:50px;
    right: -16%;
    border-radius: 8px;
    box-shadow: 0 0 5px black;
    padding:10px 5px;
    display: flex;
    align-items: center;
    transition: all 300ms;
}
.active-product-alert{
    right:2%;
}
.checkmark-icon{
    width: 25px;
    height: 25px;
    margin:0 5px;
}