.search-results-page{
    height: 85dvh;
    width: 100dvw;
    margin-top: 15dvh;
}
.search-results-page h2{
    margin:5% 5%;
    padding-top: 1%;
}
.search-results{
    display: grid;
    grid-template-columns: 15% 15% 15% 15%;
    column-gap: 5%;
    width: 90dvw;
    margin-left: 5dvw;
}
.searched-product{
    background-color: white;
    padding:5px;
    border-radius: 8px;
    box-shadow: 0 0 5px black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.searched-product a{
    height: 90%;
    text-decoration: none;
    color:black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.searched-product a:hover{
    text-decoration: underline;
}
.searched-product-img-wrapper{
    width: 90%;
}
.searched-product-img{
    width: 100%;
}
.searched-product-details{
    width: 70%;
    padding:8px;
}
/* iPad Pro 12.9 Inch Landscape */
@media screen and (max-width:1367px){
    .search-results{
        grid-template-columns: 20% 20% 20% 20%;
    }
}
/* iPad Pro 12 Inch Portrait */
@media screen and (max-width:1026px){
    .search-results{
        grid-template-columns: 25% 25% 25%;
    }
}
/* iPad Mini Portrait */
@media screen and (max-width:768px){
    .search-results{
        grid-template-columns: 30% 30% 30%;
    }
}
/* iPhone 14 Pro Max */
@media screen and (max-width:431px){
    .search-results{
        width: 100dvw;
        margin-left: 0;
        grid-template-columns: 45% 45%;
        gap: 5%;
        justify-content: space-around;
    }
    .searched-product-details h3{
        font-size: 1em;
    }
    .searched-product-details h4, .searched-product-details p{
        font-size: .9em;
    }
}
/* iPhone XS Max */
@media screen and (max-width:415px){
    .search-results{
        grid-template-columns: 47% 47%;
        gap: 1%;
    }
}